*{
  box-sizing: border-box;
  /* border: 1px solid white; */
  padding: 0px;
  margin: 0px;
}

html{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar{ /*vertical navbar that takes up whole space on the right*/
  padding-top: 150px;
  width: 200px;
  position: absolute;
  height: 100vh;
  background-color: black;
  font-size: 30px;
  opacity: 80%; /*transparent background*/
  top:0;/*delete space from top*/
  right:0;
  position: fixed;
}

a{/*vertically center the links*/
  color: #fff;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mainContainer{
  padding-left: 20px;
  padding-right: 200px;
}

.heroTitle{/*title with full size */
  background-image: url("Street.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 90vh;
  padding-top: 320px;
}

h1{
  font-size: 68px;
  color: white;
  text-shadow: 2px 2px 4px #000000; /*add 2px shadow*/
  margin-right: 200px; /*leave out space for the side bar*/
}

a:hover{ /*hover effect of the navbar*/
  background-color: grey;
  color:black;
}

.contentContainer{
  padding-left: 20px;
  color:#fff;
  font-size: 30px;

}

.overlay{ /*text overlay on the background image*/
  overflow: hidden; /*does not allow scrolling*/
  background-color: black;
  opacity: 80%; /*consistent with sidebar*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 200px;

}

.overlayContent{
  color:#fff;
  font-size: 30px;
  position: absolute;
  padding-top: 150px; /*center the text*/
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
}

h2{
  font-size:50px;
  color: white;
  text-shadow: -20px 0px 5px #800000, 20px 0px 5px #800000,
  10px 0px 2px black ; /*add 2px shadow*/
  margin-left:50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 10px;
}

.text{
  font-size: 20px;
  padding: 10px;
}

.subtitles{
  font-size: 26px;
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  font-weight: bold;
}

.coverPage:hover .overlay{ /*hover effect showing the overlay*/
  height: 100%; /*full page*/
}

.diary{
  border-radius: 10px;
  display: flex;
}

.diaries{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;
}
